<h1>Show Member</h1>

<ul>

  <li>
    <strong>Last name:</strong>
    <%= @member.last_name %>
  </li>

  <li>
    <strong>First name:</strong>
    <%= @member.first_name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.member_path(@conn, :edit, @member) %></span>
<span><%= link "Back", to: Routes.member_path(@conn, :index) %></span>
