<!-- Left Menu -->
<%= render BlowCasherWeb.LayoutView, "sidemenu.html", conn: @conn, crypto_id: @crypto_id, group: @group %>
<!--// Left Menu -->

<!-- Header -->
<%= render BlowCasherWeb.LayoutView, "header.html", group: @group %>
<!--// Header -->

<!-- Main -->
<div role="main">
    <h2>商品更新</h2>

    <%= render "form.html", Map.put(assigns, :action, item_path(@conn, :update, @item)) %>

</div>