<h2>Listing Items</h2>

<table class="table">
  <thead>
    <tr>
      <th>Item name</th>

    </tr>
  </thead>
  <tbody>
<%= for item <- @items do %>
    <tr>
      <td><%= item.item_name %></td>

    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Item", to: item_path(@conn, :new) %></span>
