<h2>商品一覧 <%= @crypto_id %></h2>

<table class="table">
  <thead>
    <tr>
        <th>商品名</th>

    </tr>
  </thead>
  <tbody>
  <tr>
      <td>ID</td>
      <td>crypto_id</td>
      <td>item_name</td>

  </tr>
  <%= for item <- @items do %>
  <tr>
    <td><%= item.id %></td>
    <td><%= item.crypto_id %></td>
    <td><%= item.item_name %></td>

  </tr>
  <% end %>

  </tbody>
</table>

