<h1>Edit Prefecture</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.prefecture_path(@conn, :update, @prefecture)) %>

<span><%= link "Back", to: Routes.prefecture_path(@conn, :index) %></span>
