<%= form_for @changeset, @action, ["data-ajax": "false"], fn f -> %>
  <div class="form-group">
    <%= label f, "イベント名", class: "control-label" %> <div class="err_msg"><%= error_tag f, :group_name %></div>
    <%= text_input f, :group_name, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= submit "新規作成", class: "btn btn-primary", data: [icon: "plus"] %>
    <%= link "ホーム", to: index_path(@conn, :index), data: [role: "button", icon: "home"] %>

  </div>
<% end %>
