<!-- Header -->
<%= render BlowCasherWeb.LayoutView, "header.html", group: @group %>
<!--// Header -->

<h2>新規イベント作成</h2>

<%= render "form.html", Map.put(assigns, :action, group_path(@conn, :create)) %>
