<h2>Show Group</h2>

<ul>

  <li>
    <strong>Group:</strong>
    <%= @group.group_id %>
  </li>

  <li>
    <strong>Delete flg:</strong>
    <%= @group.delete_flg %>
  </li>

</ul>

<span><%= link "Edit", to: group_path(@conn, :edit, @group) %></span>
<span><%= link "Back", to: group_path(@conn, :index) %></span>
