<h1>Show Member</h1>

<ul>

  <li>
    <strong>Member name:</strong>
    <%= @member.member_name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.member_path(@conn, :edit, @member) %></span>
<span><%= link "Back", to: Routes.member_path(@conn, :index) %></span>
