<h2>Show Price</h2>

<ul>

  <li>
    <strong>Price:</strong>
    <%= @price.price %>
  </li>

</ul>

<span><%= link "Edit", to: price_path(@conn, :edit, @price) %></span>
<span><%= link "Back", to: price_path(@conn, :index) %></span>
